/* Global Styles */

:root {
    --primary-color: rgb(69, 184, 31);
    --dark-color: #141414;
    --light-color: #f4f4f4;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #5c3535;
    margin: 0px;
    padding: 0px;
    color: #007BFF;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    overflow-x: hidden;
    margin-bottom: auto;
    
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup {
    background: hsl(0, 0%, 100%);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button{
    padding: 10px 20px;
    background: rgb(121, 53, 53);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.button1{
    background: rgb(69, 185, 121);
    color:#fff;
    border:none;
    border-radius: 8px;
    cursor:pointer;
    margin-left: 300px;
    margin-bottom: auto;
    margin-top:40px;
    text-transform: lowercase;
    transition: all .3s ease-in-out;
    text-decoration: none;
    left: 600px;
    right: 500px;
}
.button1:hover{
    transform: scale(.97);
    opacity: .8;
}
.button1 a{
    text-decoration: none;
}

.container {
    background-color: transparent;
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    width: 90%;
}

/* Header Styles */
.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(https://wallpaperaccess.com/full/1512237.jpg) no-repeat center center/cover;
    margin-top: auto;
    margin-bottom: auto;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #211e1e, inset -120px -100px 250px #121111;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content{
    position: relative;
    z-index: 3;
    width: 65%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom:auto;
    background: transparent;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-text-stroke: 1px blue;
    height: 150px;
    
}
.showcase-content h1{
    margin-bottom: auto;
    font-size: 3rem;
}
.showcase-content h3 span{
    font-size: 1.7rem;
}
.showcase-content h1:hover {
    color: rgb(29, 29, 173);
    }
.showcase-content:has(~h1:hover) {
    color: rgb(61, 61, 148);
}
.containers span {
    color: transparent;
    padding: 5px;
    margin-left: auto;
    -webkit-text-stroke: 1px white;
    align-items: center;
    margin-right: auto;

}
.containers{
    justify-content: center;
    align-items: center;
}

h1 span:hover {
    color: white;
}

h1 span:has(~span:hover) {
    color: white;
}
#search-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
    
}
h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 6%;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em;
    line-height: 1.0em;
    color: rgb(190, 190, 10);
    background-color: green;
}
button {
    background: var(--primary-color);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

/* Media Queries */
        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 1.5em;
            }
    
            p {
                font-size: 0.8em;
            }
        }